[Unit]
Description={{ application_name }}

[Service]
Type=simple
User={{ gunicorn_user }}
WorkingDirectory={{ virtualenv_path }}
PIDFile=/var/run/gunicorn.pid
ExecStart=/bin/sh -c '{{ virtualenv_path }}/bin/gunicorn_start  >> {{ application_log_file }} 2>&1'
KillMode=control-group

[Install]
WantedBy=multi-user.target

stdout_logfile = {{ application_log_file }}
redirect_stderr = true
